<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547326598778-i5stkstj8r8dvhekhd7muceh364os94b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547326598778-i5stkstj8r8dvhekhd7muceh364os94b</string>
	<key>API_KEY</key>
	<string>AIzaSyCpack3hqqedxQHGGPy9GjUakWdev6MiWc</string>
	<key>GCM_SENDER_ID</key>
	<string>547326598778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssw.typyst</string>
	<key>PROJECT_ID</key>
	<string>typyst-bc4b3</string>
	<key>STORAGE_BUCKET</key>
	<string>typyst-bc4b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:547326598778:ios:0a68daa45a7f51e6f725c3</string>
	<key>DATABASE_URL</key>
	<string>https://typyst-bc4b3.firebaseio.com</string>
</dict>
</plist>
